<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="#">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="container">
        <nav class=" navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="btn btn-secondary bg-dark border-0" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle bg-dark border-0" href="#" role="button"
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Trainers
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/trainers">List trainers</a>
                                <a class="dropdown-item" href="/trainers/create">Create new trainer</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <h3>
            <%= message %>
        </h3>